mat-form-field{
    width: 100%;
}
mat-radio-button{
    /* font-weight:100; */
    margin-left: 16px;
}
.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-spacer {
    flex: 1 1 auto;
  }
  mat-panel-description {
    flex: 0 0 auto;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  /* img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  } */