<div class="bg-image">
    <img src="https://mdbootstrap.com/img/Photos/Others/architecture.webp"/>
</div>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <h1 class="loginTitle">Login Page</h1>
        <br>
        <div class="div-text">
            <span>Login <b>By User or By Admin </b> credentials</span>
        </div>
        <br>
        
        <form [formGroup]="loginForm">
            <mat-form-field appearance="standard">
                <mat-label>Email-id</mat-label>
                <input [style]="'width: 80%;'" formControlName="email" matInput 
                placeholder="Type your Email-id">
                <mat-icon matPrefix>person_outline</mat-icon>
                <mat-error *ngIf="forError('email','required')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                [style]="'width: 80%;'">
                <mat-icon matPrefix>lock_open</mat-icon>
                <mat-icon matSuffix 
                (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="forError('password','required')">This field is required</mat-error>
            </mat-form-field>
        </form>
        <div [align]="'center'" [style]="'margin-top: 40px;'" >
            <button mat-raised-button nbButton status="success" [style]="'width: 40%;'" 
            color="primary" (click)="login()">LOGIN
            </button>
            <span style="margin-left: 2.5em;"></span>
            <button mat-raised-button [style]="'width: 40%;'" 
            color="primary" (click)="admin()">ADMIN
            </button>
        </div>
    </mat-card>
</div>
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true"></ngx-spinner> -->

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: rgb(101, 253, 13)" > Loading... </p></ngx-spinner>

