.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }

  mat-toolbar{
    height: 50px;
  }
  .dataSize{
    width: 10%;
    height: 5%;
  }
  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
  
  /* td, th {
    width: 10%;
  } */

  .container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
th{
  font-weight: bold;
  font-size: medium;
  background-color: lightblue;
  text-align: left;
  max-width: 40px;
}
td{
  max-width:180px;
  font-size: small;
  text-align: left;
}