.toolbar-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    height: 50px;
  }
  table {
    width: 100%;
  }
  .container{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
th{
  font-weight: bold;
  font-size: medium;
  background-color: lightblue;
  text-align: left;
  max-width: 40px;
}
td{
  max-width:180px;
  font-size: small;
  text-align: left;
}
custAction{
  display: flex;
  margin-left: auto;
  margin-left: 20px;
}